<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Poetry Make Website</title>
        <link rel="stylesheet" href='{{url_for("static", filename="css/index.css")}}' type='text/css'>
    </head>
    
<style>
	img{
		border-radius: 50%;
		overflow: hidden;
		width: 150px;
	}
</style>

    <body>
        <div align="center">
            <div class="navbar">
            <h1>人月神话</h1>
                <ul>
                    <li><a href="./">首页</a></li>
                    <li><a href="./aboutus.html">关于我们</a></li>
                    <li><a href="./help.html">帮助</a></li>
                </ul>
            </div>
            <br />
    <br />
    <br />
            <img src="static/images/logo.jpeg" alt="limge-1">
    <br />
    <br />
    <h2>项目简介</h2>
    <p>
        本项目通过 Python 神经网络分析用户输入的诗词或图像，
        <br />
        生成对应的古诗，词意通达，切合场景
    </p>
    <br />
    <br />
    <br />
    <h2>技术平台</h2>
    <p>
        前端：Web
        <br />
        服务端：Python 神经网络
    </p>
    <br />
    <br />
    <br />
    <h2>小组成员</h2>
    <p>
        项目经理：冯佳纯
        <br />
        产品经理：吴硕
        <br />
        技术经理：李佳音
        <br />
        组员：任欣怡
        <br />
        组员：陈怀哲
    </p>
</div>
</body>


</html>