<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Poetry Make Website</title>
        <link rel="stylesheet" href='{{url_for("static", filename="css/index.css")}}' type='text/css'>
    </head>
    <style>
        img{
            border-radius: 50%;
            overflow: hidden;
            width: 150px;
        }
    </style>
    <body>
        <div align="center">
            <div class="navbar">
            <h1>人月神话</h1>
                <ul>
                    <li><a href="./PoetryMake.html">首页</a></li>
                    <li><a href="./aboutus.html">关于我们</a></li>
                    <li><a href="./help.html">帮助</a></li>
                </ul>
            </div>
        <br />
        <br />
        <br />
            <img src="static/images/logo.jpeg" alt="limge-1">
        <br />
        <br />
        <h2>使用方法</h2>
        <p>
            在输入框中输入段落、关键词或上传图片，点击“生成诗歌”，生成结果框中会显示生成的绝句.
        <br />
            若不满意生成结果，点击“刷新”会重新生成新语句。
        </p>
    </div>
</body>
</html>