<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poems</title>
    <link rel="stylesheet" href='{{url_for("static", filename="css/main.css")}}' type='text/css'>
    <!--<link rel="stylesheet" href='./main.css' type='text/css'>-->
</head>

<nav class="navbar">
    <ul>
        <li><a href=''>Homepage</a></li>
        <li><a href='https://github.com/scrumbria/poem-generate'>Github</a></li>
    </ul>
</nav>

<br>

<body>
    <section class="list-item">
        <div>
            <h3>The Chinese Poems Generator</h3>
            <p><b>Brief Intro:</b> Long Short-time Memory, words vector, Pytorch, torch.nn, flask(front end), hand-write</p>
            <br>
            <h3>Details:</h3>
            <p>The pre-training model (model.pkl) supports x86(amd64) CPU</p>
            <p>Dataset and paraments: 300 poems for 1000 epochs / hiddenNum = 128 / batchSize = 16</p>
            <p>The whole project has been decoupled (although it's not clear enough)</p>
            <p>Workflow: <br>Preprocess dataset (split poems to every single word) -> Vectorization -> Training -> Generate Model -> Load Model -> Generate Poems</p>

            <h3>Usage:</h3>
            <p>Enter 4 Simplified Chinese characters (aka Hanzi / Chinese Kanji) then the model Generates a "4 sentences 7 words traditional Chinese poem", every sentence
                starts with the entered character
            </p>
            <p>
                If the number of entered characters aren't 4 (even there's no character) or the entered characters aren't Simplified Chinese characters (like English or other
                Language), the model will still print a Chinese poem. Because the model uses the word vectors to forecast next character
            </p>

            <p>Due to the small test model (300 poems dataset), the model may generate poems don't start with the entered characters which are never included by dataset</p>

            <h3>Input below:</h3>
            <form action="{{ url_for('getdata') }}" method="post">
                <input name="text1" type="text" placeholder="Enter 4 first words of Poems">
                <input type="submit" value="Generate" onclick="getdata()"/>
            </form>
        </div>

        <br>

        <div>
        <form>
            <p style="font-size:20px">
            {{ text }}
            </p>
        </form>
        </div>

        <br>
        
        <div>
            <p>Shuo</p>
            <p>College of Sicence,</p>
            <p>Beijing Forestry University</p>
        </div>

    </section>
</body>
</html>