<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poetry Make Website</title>
    <link rel="stylesheet" href='{{url_for("static", filename="css/index.css")}}' type='text/css'>
</head>
<style>
    img{
        border-radius: 50%;
        overflow: hidden;
        width: 60px;
    }
</style>
<body>
    <div align="center">
        <div class="navbar">
            <h1><img src="static/images/logo.jpeg" alt="limge-1">人月神话</h1>
            <ul>
                <li><a href='./PoetryMake.html'>首页</a></li>
                <li><a href='./aboutus.html'>关于我们</a></li>
                <li><a href='./help.html'>帮助</a></li>
            </ul>
        </div>
        <main class="main" id="yzx">
            <section class="list-item">
                <div class=item-image></div>
                <form action="{{ url_for('getdata') }}" method="post">
                    <b>请输入关键词或场景 </b><input name="text1" type="text" style="width:300px;height:35px">
                    <input type="submit" value="生成诗词" style="width:70px;height:35px" onclick="getdata()"/>
                    <input type="submit" value="刷新" style="width:45px;height:35px"/>
                </form>
                </br>
                <img src="static/images/camera.jpeg" alt="limge-1">
                </br>
                <form>
                    <p style="font-size:20px">
                    {{ text }}
                    </p>
                </form>
            </section>
        </main>
    </div>
</body>
</html>