* {
    /*初始化 清除元素原有的内外边距*/
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}



body {
    background-color: #8ce4bf;
}
h1 {
    font-size: 50px;
    line-height: 100px;
}

/*导航栏*/
.navbar {
    height: 110px;
    /*盒子阴影*/
    box-shadow: 0 10px 50px #bbb8b8;
}

@media screen {
    .navbar ul {
        /*弹性布局*/
        display: flex;
        /*让元素平均分配宽度*/
        justify-content: space-around;
        /*让元素垂直居中*/
        align-items: center;
        float: right;
        width: 400px;
        margin-top: -80px;
    }

    .navbar ul li {
        list-style: none;
        text-align: center;
        margin-right: 2%;
    }

    .navbar ul li a {
        display: block;
        line-height: 66px;
        font-size: 18px;
        font-weight: 700;
        color: #797c7e;
        letter-spacing: 2px;
        box-shadow: 0 15px 20px #b9b7b7;
        padding: 5px 25px;
        border-radius: 60px;
    }

    .navbar ul li a:hover {
        box-shadow: 0 0 0 rgb(252, 252, 252), 0 0 0 #fff, 5px 3px 6px 1px #8e9194 inset, -5px -3px 6px 1px #fff inset;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.list-item:hover .item-image::before {
    background-color: rgb(255, 255, 255);
}

.item-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translateZ(-50px) scale(2.4);
}

.item-image::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    transition: all 0.3s ease;
}
